body {
    margin: 50px 100px;
    width: 75%;
    background-color: wheat;
  }

#wheat-penny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.photo {
    padding: 10px 40px;
    width: 85%;
}

h1{
    text-align: center;
    color: olive
}

h2 {
    text-align: center;
    color: olive;
}

h3 {
    color: goldenrod;
}

p {
    font-size: large;
}

ul {
    font-size: large;
}

article {
    border: 10px double olive;
    text-align: center;
}

footer {
    color: darkolivegreen;
    text-align: center;
}