body {
    margin: 50px 100px;
    width: 75%;
    background-color: wheat;
  }

#wheat-penny {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.photo {
    padding: 10px 40px;
    width: 85%;
}

h3 {
    color: goldenrod;
    align-content: center;    
}

p {
    align-content: center;
    font-size: large;
}

article {
    border: 10px double darkolivegreen;
}

footer {
    color: olive
}